body {
  background-color: #c6ebf7;
  font-family: "Roboto", sans-serif;
}

header {
  padding: 0 0 30px 0;
}

a {
  color: #6ecff0;
}

.weather-main {
  background-color: white;
  max-width: 600px;
  margin: 12px auto;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}

.search-form-input {
  background-color: #f9f7fe;
  color: black;
  border: 1px solid black;
  border-radius: 8px;
  width: 80%;
  padding: 10px 15px;
  font-size: 20px;
}

.search-form-button {
  background-color: #6ecff0;
  color: white;
  border: 1px solid black;
  border-radius: 8px;
  padding: 10px 15px;
  font-size: 20px;
  font-weight: bold;
  margin-left: 5px;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}

#humidity {
  color: #6ecff0;
  font-weight: bolder;
}

#percentage-sign {
  color: #6ecff0;
  font-weight: bolder;
}

.weather-app-city {
  margin: 20px 0 10px;
  font-size: 38px;
  font-weight: 700;
  line-height: 48px;
}

.weather-app-readings {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 5px;
}

.weather-app-readings strong {
  color: #6ecff0;
}

.weather-app-temperature-container {
  display: flex;
}

.weather-app-emoji {
  width: 100px;
  height: 80px;
  margin-top: 9px;
}

.weather-app-temperature {
  font-size: 80px;
  font-weight: 700;
  margin-left: 6px;
}

.weather-app-unit {
  margin-top: 15px;
  font-size: 25px;
  font-weight: bolder;
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.weather-forecast-date {
  text-align: center;
  color: #6ecff0;
  font-weight: bolder;
  font-size: 16px;
  line-height: 20px;
}

.weather-forecast-icon {
  width: 100%;
}

.weather-forecast-temperatures {
  text-align: center;
  color: #c6ebf7;
  display: flex;
  justify-content: center;
  margin-top: 6px;
}

.weather-forecast-temperature-high {
  padding: 0 5px;
}

.weather-forecast-temperature-low {
  padding: 0 5px;
}

footer {
  margin: 30px 0 0 0;

  text-align: center;
  font-size: smaller;
  color: rgba(0, 0, 0, 0.7);
}
